/*
    Document   : main.css
    Created on : May 10, 2012, 9:02:48 AM
    Author     : Remco Koopmans
    Description:
        Main StyleSheet of the puzzle game
*/
* {padding: 0; margin:0}
img {border:none}
html, body {background-color:#e8e8e8; font-family: verdana; height:100%}

#header { width:100%; height:100px; background-color:#CCC}
#header h1 {width:210px; margin: auto auto; padding-top:20px;}

#nav {width:100%; height:30px; border-bottom:1px dotted #000; padding-top:10px}
#nav div {width:960px;margin:auto auto; }
#nav div ul {width:300px; float:left}
#nav div ul li {display:inline-block; margin-left:30px}
#nav div ul li a {width:100%; height:100%;}
#nav div div {width:300px; float:right;}

#wrapper {width:940px; min-height:600px; margin: auto auto; padding:10px; border-left:1px dotted #000;border-bottom:1px dotted #000;border-right:1px dotted #000;}

#footer {width:100%; height:40px;height:30px; padding-top:10px; background-color: #CCC}
#footer p {width:310px; margin:auto auto}

#cPuzzle {background-color:#FFF; display:block; width:600px; height:600px; margin: 0px auto; position:relative}