Options +FollowSymLinks
RewriteEngine On
RewriteBase /
#RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?p=$1
#RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?p=$1
#RewriteRule ^([^/]*)/page/([^/]*)$ /index.php?p=$1&page=$2 [L]
#RewriteRule ^([^/]*)/([^/]*)$ /index.php?p=$1&id=$2 [L]